.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b2b;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.operador{
    background-color: #000;   
}

.boton-contenedor:hover{
    background-color: rgba(7, 74, 14, 0.733);
    cursor: pointer;
}

.operador:hover{
    background-color: #777777;   
}