.boton-clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #6850e3;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
}    

.boton-clear:hover{
    cursor: pointer;
    background-color: #2905e3;
}