*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    height: 100vh;
    background-color: #7000eb;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} 

.contenedor-calculadora{
    width: 400px;
    height: 600px;
    padding: 14px;
    background-color: #999;
    border-radius: 20px;
}

.fila{
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}